spring:
  application:
    name: leaderboard-service

  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    password: ${POSTGRES_PASSWORD}
    username: ${POSTGRES_USER}
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    schemas: public
    validate-on-migrate: true
    out-of-order: false

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  docker:
    compose:
      lifecycle-management: start_and_stop
      readiness:
        wait: ALWAYS

logging:
  level:
    org.flywaydb: DEBUG
    org.springframework.boot.autoconfigure.flyway: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

server:
  port: 8080

yellow-dot:
  base-url: ${YELLOW-DOT_BASE_URL}
  api-key: ${YELLOW-DOT_API_KEY}

integration:
  shared-secret: ${INTEGRATION_SHARED_SECRET}